body {
    overflow: hidden; 
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    max-width: 600px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.tapered-image {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    border-radius: 10px;
}

.tapered-image img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.overlay {
    margin-top: 20px; 
}

.overlay h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1em;
    margin-bottom: 20px;
}

.next-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: #0056b3;
}

#name, #desc {
    color:  #ebd8c4;
}

.rating {
    font-size: 24px;
}

.star {
    cursor: pointer;
    color: gray;
}

.star:hover,
.star.active {
    color: gold;
}

